.messages {
    width: 100%;
    right: 10px;
    bottom: 10px;
    position: fixed;
    max-width: 200px;

    gap: 10px;
    display: flex;
    flex-direction: column;

    .message {
        padding: 20px;
        border-radius: 20px;
        border: 2px solid var(--mainColor);
        background-color: var(--dodColor);

        .message_text {
            font-size: 16px;
            line-height: 20px;
            color: var(--whiteColor);
        }

        .message-offer {
            top: -15px;
            right: -5px;
            overflow: hidden;
            position: absolute;
            border-radius: 50%;
            background-color: black;
        }
    }
}